* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Layout */
body {
  background-color: #d8d5d5;
}
.post {
  background-color: rgb(255, 255, 255);
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1rem;
  border-bottom: 1px solid black;
  background-color: rgb(245, 245, 245);
}
.post-header {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 1rem;
}

.post,
header {
  width: 375px;
}

.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 0.5rem;
  object-fit: cover;
}

.post {
  margin: 0 auto;
  margin-bottom: 2rem;
}
/* Typography */

h3 {
  margin: 0;
}

p {
  margin-bottom: 0.5rem;
}

.likes,
.username {
  font-weight: bold;
  padding-left: 1rem;
}

/* Images */

img {
  object-fit: contain;
}
.icons {
  margin-left: 1rem;
}
.post-img {
  width: 100%;
  height: 375px;
  object-fit: cover;
}
.username{
    text-wrap: wrap;
    margin-bottom: 1rem;
    display: inline-block;
    font-weight: 300;
}
span{
    font-weight:bold ;
}